<!doctype html>{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="{% static 'icon1.png' %}" type="image/x-icon">

  <title>Необработанные заказы</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <style type="text/css">
  details {
  font: 12px "Open Sans", Calibri, sans-serif;
  width: 200px;
  }

  details > summary {
    padding: 2px 6px;
    width: 15em;
    background-color: #ddd;
    border: none;
    box-shadow: 3px 3px 4px black;
    cursor: pointer;
    list-style: none;
  }
  </style>


  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Дата и время доставки</th>
      <th>Статус заказа</th>
      <th>Способ оплаты</th>
      <th>Букет</th>
      <th>id букета</th>
      <th>Стоимость букета</th>
      <th>Комментарии</th>
      <th>Ссылка на админку</th>

    </tr>

    {% for item in order_params %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.firstname}} {{item.lastname}}</td>
        <td>{{item.phonenumber}}</td>
        <td>{{item.address}}</td>
        <td>{{item.delivered_at}}</td>
        <td>{{item.order_status}}</td>
        <td>{{item.payment}}</td>
        <td>{{item.bunch_name}}</td>
        <td>{{item.bunch_id}}</td>
        <td>{{item.order_price}} руб.</td>
        <td>{{item.comment}}</td>
        <td><a href="{% url 'admin:flower_shop_order_change' object_id=item.id %}?next={{ request.get_full_path|urlencode }}">
          Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>